@page
@model ZSStore.Pages.DemoModel
@{
    
}
<div class="my-5 text-center">
    <div class="display-6">Merhaba @Model?.FullName</div>
    <form method="post" asp-page="/demo">

            <div class="form-group">
    <input class="form-control" name="name" placeholder="İsminizi giriniz"/>
    <input type="submit" class="btn btn-primary my-3">
            </div>


    </form>

</div>
